.brandInfo {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.pdfMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f3f5;
}
.pdfViewInvoice {
  background: white;
  height: 110vh;
  padding: 5vh 5vw;
  /* width: 60%; */
}
.pdfViewInvoiceFalse {
  background: white;
  height: 110vh;
  padding: 5vh 5vw;
  width: 60%;
}
.studentDetails {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.heading {
  margin: 5px 2px;
}
.studentDetailMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.studentDetailMain div {
  width: 100%;
  /* background-color: red; */
}
.profilediv {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}
.studentDetails p {
  margin: 0px;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  margin: 4px 0px;
  /* width: 1%; */
  /* background-color: red; */
}
.brandInfo p {
  margin: 0px;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  margin: 4px 0px;
}
@media screen and (max-width: 600px) {
  .studentDetailMain {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
  }
}
